.container {
    margin-left: 6rem;
    margin-right: 6rem;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
}

.bitcoin-info {
    max-height: 80vh;
    width: 25%;
    display: block;
    overflow: clip;
    text-overflow: ellipsis;
    padding: 1rem;
}

.description {
    height: 100px;
    overflow: clip;
    text-overflow: ellipsis;
}

.bitcoin-info .other-info {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-right: 2rem;
}

.img {
    display: flex;
    justify-content: center;
}

.bitcoin_graph {
    width: 65%;
    height: max-content;
}

.canvas {
    width: 100%;
}