.container {
    margin-left: 6rem;
    margin-right: 6rem;
    min-height: 100vh;
}

.bitcoin-info {
    width: 25%;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1rem;
}

.bitcoin-info .other-info {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-right: 2rem;
}

.img {
    display: flex;
    justify-content: center;
}