<mat-form-field appearance="fill">
    <mat-label>Column</mat-label>
    <mat-select>
        <mat-option value="one">First option</mat-option>
        <mat-option value="two">Second option</mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Order</mat-label>
    <mat-select>
        <mat-option value="ASC">Ascending</mat-option>
        <mat-option value="DESC">Descending</mat-option>
    </mat-select>
</mat-form-field>
<button mat-raised-button color="accent">Sort</button>