.demo-table {
    width: 100%;
}

.main .main-container {
    width: 100%;
    justify-content: center;
    background-color: whitesmoke;
}

.main .table {
    width: 100%;
    display: block;
    overflow: auto;
    position: relative;
    margin-bottom: 80px;
}

.main-container .example-sidenav-content {
    padding: 1rem;
}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-row:hover .mat-cell {
    border-color: currentColor;
}

.demo-row-is-clicked {
    font-weight: bold;
}

.main {
    /* display: flex; */
    width: 95%;
    height: 100vh;
    margin-top: 20px;
    /* justify-content: center;
    align-items: center; */
}

.container-sidenav {
    margin-top: 1rem;
    /* margin-right: 4rem; */
    overflow: auto;
    display: flex;
    /* height: calc(100vh - 135px); */
    align-items: center;
    justify-content: center;
    /* height: 100%; */
}

.main .side-menu {
    border: ridge;
    border-width: 0.1px;
    border-radius: 5px;
    position: relative;
    max-height: 99%;
    /* height: calc(100vh - 160px); */
    background-color: white;
    overflow: auto;
}

.main .side-menu #sort-button {
    width: 100%;
}

.search {
    margin-bottom: 10px;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.shown-text {
    padding-right: 10px;
    display: flex;

}

.main .side-menu .display-columns {
    display: block;
    margin-top: 5px;
}

.main .side-menu .display-columns .displayed-columns {
    /* text-align: center; */
    padding: 2px;
    font-size: smaller;
    display: flex;
    justify-content: space-between;
}

.main .side-menu .display-columns .displayed-columns #spacer {
    flex: 1;
}

.span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    text-decoration: underline;
}

#spacer {
    flex: 1;
}

#visibility {
    margin-right: 0.5rem;
}

.main .side-menu .display-columns span {
    /* color: blueviolet; */
    font-weight: bolder;
    padding: 5px;
    margin-top: 10px;
}

::-webkit-scrollbar {
    width: 4px;
    overflow-y: scroll;
    background: grey;
    box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 0, 191);
    border-radius: 10px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}