<div class="container">
    <div class="main">
        <mat-drawer-container class="main-container" autosize>
            <mat-drawer position="start" #drawer class="container-sidenav" mode="side">
                <div class="side-menu">
                    <div class="search">
                        <div class="span">
                            <span id="span"><b>View Option</b></span>
                            <span id="spacer"></span>
                            <button mat-icon-button (click)="drawer.toggle()">
                                <mat-icon>close</mat-icon>
                            </button>
                        </div>
                        <div>
                            <mat-accordion>
                                <mat-expansion-panel hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <!-- <button mat-button id="sort-button" color="accent"> -->
                                            <button mat-button color="accent"><b color="accent">Filter</b></button>

                                            <!-- </button> -->
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <mat-form-field appearance="standard">
                                        <mat-label>Filter</mat-label>
                                        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
                                    </mat-form-field>
                                </mat-expansion-panel>
                            </mat-accordion>
                            <br />
                            <mat-accordion>
                                <mat-expansion-panel hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <!-- <button mat-button id="sort-button" color="accent"> -->

                                            <button mat-button color="accent"><b>Search</b></button>
                                            <!-- </button> -->
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <app-sort></app-sort>
                                </mat-expansion-panel>
                            </mat-accordion>

                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div *ngIf="displayedColumns.length > 0" class="display-columns">
                        <div class="shown-text">
                            <span class="text-shown">Shown</span>
                            <span id="spacer"></span>
                            <button (click)="hideAllColumns()" mat-raised-button color="accent">Hide
                                All</button>
                        </div>

                        <mat-list-item *ngFor="let column of displayedColumns">

                            <div mat-line class="displayed-columns">
                                {{column | titlecase}}
                                <span id="spacer"></span>

                                <button (click)="hideColumn(column, 'hide')" id="visibility" mat-icon-button matSuffix>
                                    <mat-icon>visibility</mat-icon>
                                </button>
                            </div>

                        </mat-list-item>

                    </div>
                    <mat-divider></mat-divider>
                    <div *ngIf="hiddenColumns.length > 0" class="display-columns">
                        <div class="shown-text">
                            <span class="text-shown">Hidden</span>
                            <span id="spacer"></span>
                            <button (click)="showAllColumns()" mat-raised-button color="accent">Show
                                All</button>
                        </div>

                        <mat-list-item *ngFor="let column of hiddenColumns">
                            <div mat-line class="displayed-columns">
                                <!-- <button mat-icon-button>
                                <mat-icon>list</mat-icon>
                            </button> -->
                                {{column | titlecase}}
                                <span id="spacer"></span>

                                <button (click)="hideColumn(column, 'show')" id="visibility" mat-icon-button matSuffix>
                                    <mat-icon>visibility_off</mat-icon>
                                </button>
                            </div>
                        </mat-list-item>
                    </div>
                </div>

            </mat-drawer>
            <div class="example-sidenav-content">
                <button mat-raised-button color="accent" (click)="drawer.toggle()">View Options</button>
            </div>
            <div class="table">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table" matSort>
                    <!-- Position Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
                        <td mat-cell *matCellDef="let element; let i = index">{{i + 1}}</td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="tile_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tile Name</th>
                        <td mat-cell *matCellDef="let element">{{element.tile_name}}</td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="tile_size">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tile Size</th>
                        <td mat-cell *matCellDef="let element">{{element.tile_size}}</td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="color">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Color</th>
                        <td mat-cell *matCellDef="let element">{{element.color }}</td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="color_variation">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Col. Var</th>
                        <td mat-cell *matCellDef="let element">{{element.color_variation }}</td>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="finish">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Finish</th>
                        <td mat-cell *matCellDef="let element">{{element.finish}}</td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="looks_like">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Looks Like</th>
                        <td mat-cell *matCellDef="let element">{{element.looks_like}}</td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="material">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Material</th>
                        <td mat-cell *matCellDef="let element">{{element.material}}</td>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="quantity_per_box">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Q/box</th>
                        <td mat-cell *matCellDef="let element">{{element.quantity_per_box}}</td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="space">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Space</th>
                        <td mat-cell *matCellDef="let element">{{element.space}}</td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="picture">
                        <th mat-header-cell *matHeaderCellDef>Tile Picture</th>
                        <td mat-cell *matCellDef="let element"><img src="{{element.image_name}}"></td>
                    </ng-container>

                    <ng-container matColumnDef="actions" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="openEditDialog()">
                                    <mat-icon color="primary">edit</mat-icon>
                                    <span>Edit</span>
                                </button>
                                <button mat-menu-item>
                                    <mat-icon color="warn">delete</mat-icon>
                                    <span>Delete</span>
                                </button>
                            </mat-menu>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row (click)="clickedRows.add(row)" [class.demo-row-is-clicked]="clickedRows.has(row)"
                        *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5,10,15, 20]" showFirstLastButtons
                    aria-label="Select page of periodic elements">
                </mat-paginator>
            </div>

        </mat-drawer-container>

    </div>
</div>